.container{
    display: grid;
    grid-template-columns: 16rem 1fr 16rem;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header header"
    "nav content sidebar"
    "footer footer footer";
    min-height: 188vh;
}
header{
    grid-area: header;
    padding: 2rem;
    margin: 2px;
    background-color: #1e293b;
}
nav{
    grid-area: nav;
    padding: 2rem;
    margin: 2px;
    background-color: #334155;
}
main{
    grid-area: content;
    padding: 2rem;
    margin: 2px;
    background-color: #475569;
}
aside{
    grid-area: sidebar;
    padding: 2rem;
    margin: 2px;
    background-color: #5e7cae;
}
aside > img{
    height: 100px;
    width: auto;
    margin-top: 50px;
    border-radius: 10px;
    justify-content: center;
    border: 2px solid rgb(202, 174, 174);

}
footer{
    grid-area: footer;
    padding: 2rem;
    margin: 2px;
    background-color: #1e293b;
}
@media (max-width: 1024px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(5rem,auto) 1fr minmax(5rem, auto) auto;
        grid-template-areas: 
        "header"
        "nav"
        "content"
        "sidebar"
        "footer";

    }
}